# CPP
**/obj/**
**/target/**
!**/obj/debug/.gitkep
!**/target/debug/.gitkeep

# LaTeX
*_temp.tex
*.aux
*.4ct
*.4tc
*.dvi
*.idv
*.lg
*.out.ps
*.tmp
*.xref
*.bbl
*.bcf
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
*.lol
*.run.xml
*.pdf
!**/inital_post.pdf
!**/reply*.pdf
!**/inital_post.html
!**/reply*.html
!**/out/*.html
!**/out/*.pdf

# Javascript
**/node_modules/**
coverage
